
<html>
<head>
	<title></title>
</head>
<body>
<h1 style="font-size:30px;">Online Quiz</h1>
<h3>select language:<br>
	
{% for category in cat %}
	<a href="">{{category}}</a><br>
{% endfor %}</h3>
<!-- <h4><a href="">Read Question/take test</a></h4> -->
<h4><a href="{% url 'createQuestion' %}">Create New Question</a></h4>
<h4><a href="">Update Question</a></h4>
<h4><a href="">Delete Question</a></h4>

</body>
</html>


<!-- <form action="#" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form> -->