
<html>
<head>
	<title></title>
</head>
<body>
<h2><a href="">Read Question/take test</a></h2>
<h2><a href="">Create New Question</a></h2>
<h2><a href="">Update Question</a></h2>
<h2><a href="">Delete Question</a></h2>

</body>
</html>


<!-- <form action="#" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form> -->